[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
psycopg2 = "*"
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"
whitenoise = "*"
pylibmc = "*"
django-bmemcached = "*"
djangorestframework = "*"
pygments = "*"
httpie = "*"
django-bootstrap4 = "*"

[requires]
python_version = "3.6"
