<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
</head>

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<center>
    <h1>Syntiappi</h1>
    
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form size='small' show_label=False %}
        {% bootstrap_button content='Synti' %}
    </form>
    <canvas id="syntitaulukko" width="400" height="400"></canvas>
    <script>
        var synnit_nimi = {{synnit_nimi|safe}};
        var synnit_maara = {{synnit_maara|safe}};
    </script>
    <script src="../static/taulukko.js"></script>
</center>
