<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
</head>

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="full" %}
{% bootstrap_messages %}

<center>
    <h1>Syntiappi</h1>
    
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form show_label=False field_class="col-sm-3 align-self-center" %}
        {% bootstrap_button content="Tunnusta syntisi" %}
    </form>
    
    {% if synnit_nimi %}
    <div class="chart'container" style="position: relative; height: 50vh; width: 60vw">
        <canvas id="syntitaulukko"></canvas>
        <script>
            var synnit_nimi = {{synnit_nimi|safe}};
            var synnit_maara = {{synnit_maara|safe}};
            var synnintekija = "{{synnintekija}}"
        </script>
        <script src="static/taulukko.js"></script>
    </div>
    {% endif %}

</center>
